einops==0.8.0
lightgbm==4.6.0
local-attention==1.9.14
matplotlib==3.10.7
MissForest==4.2.3
numpy==2.2.5
PyWavelets==1.8.0
pandas==2.3.3
patool==1.12
reformer-pytorch==1.4.4
scikit-learn==1.7.2
scipy==1.15.3
sktime==0.39.0
sympy==1.14.0
torch==2.8.0+cu129
tqdm==4.64.1
xgboost==2.0.3